<div class="container-fluid">
    <div class="row g-0">
        <!-- Coluna lateral fixa -->
        <div class="col-12 col-md-1 sidebar">
            <ul>
                <li>
                    <img src="../../../assets/images/logo-monan.jpg" style="width: 100px;" alt="essa imagem mostra a logo da aplicação Monan">
                </li>
                
                <li><a (click)="goToPlanosAula()">Plano de Aula</a></li>
                <li><a href="">Calendário</a></li>
                <li><a href="">Configurações</a></li>
                <li><a href="">Ajuda</a></li>
                <li><button class="btn btn-light" id="btnLogout" (click)="logout()">Logout</button></li>
            </ul>
        </div>

        <!-- Conteúdo principal -->
        <div class="col-12 col-md-11 content">
            <div class="row g-0">
                <div class="col-12 col-md-9"style="background:black">
                    <div>
                        <h2 style="color:white">Disciplinas Cadastradas</h2>
                        <hr />

                        <!-- Aqui é um exemplo do card para usar, mudar typescript para exibir a quantidade de materia que o aluno esta matriculado -->
                        <div class="ag-courses_item" *ngFor="let disciplina of listaDisciplinas">
                            <a href="#" class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                
                                <div class="ag-courses-item_title">
                                    {{ disciplina.nome }}
                                </div>

                                <div class="ag-courses-item_date-box">
                                    {{ disciplina.descricao }}
                                </div>
                            </a>
                        </div>
                        <!-- Fim do card -->


                    </div>
                </div>
                <div class="col-12 col-md-3 " style="padding: 20px;">
                    <h2>Tarefas e Recados</h2>
                    <hr />

                    <div class="ag-atv_item" *ngFor="let atividade of listaAtividades">
                        <a href="#" class="ag-courses-item_link">
                            <div class="ag-atv-item_bg"></div>
                            
                            <div class="ag-courses-item_title">
                                {{ atividade.nome }}
                            </div>

                            <div class="ag-courses-item_date-box">
                                
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
