<div class="container-fluid">
    <div class="row g-0">
        <!-- Coluna lateral fixa -->
        <div class="col-12 col-md-1 sidebar">
            <ul>
                <li>
                    <img src="../../../assets/images/logo-monan.jpg" style="width: 100px;" alt="essa imagem mostra a logo da aplicação Monan">
                </li>
                <li><a href="http://localhost:4200/loguei">Ativas</a></li>
                <li><a href="">Todas as disciplinas</a></li>
                <li><a href="">Calendário</a></li>
                <li><a href="">Configurações</a></li>
                <li><a href="">Ajuda</a></li>
            </ul>
        </div>

        <!-- Conteúdo principal -->
        <div class="col-12 col-md-11 content">
            <div class="row g-0">
                <div class="col-12 col-md-9"style="background:black">
                    <div>
                        <h2 style="color:white">Disciplinas Cadastradas</h2>
                        <hr />

                        <!-- Aqui é um exemplo do card para usar, mudar typescript para exibir a quantidade de materia que o aluno esta matriculado -->
                        <div class="ag-courses_item">
                            <a href="#" class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>

                                
                                <div class="ag-courses-item_title">
                                    Português<!-- Provisório, fazer de forma não estática -->
                                </div>

                                <div class="ag-courses-item_date-box">
                                    Professor:
                                    <span class="ag-courses-item_date">
                                        Isandro<!-- Provisório, fazer de forma não estática -->
                                    </span>
                                </div>
                            </a>
                        </div>
                        <!-- Fim do card -->

                        <!-- Aqui é um exemplo de card, fazer conforme quantas matérias o aluno está matriculado -->
                        <div class="ag-courses_item">
                            <a href="#" class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>

                                <div class="ag-courses-item_title">
                                    Matemática<!-- Provisório, fazer de forma não estática -->
                                </div>

                                <div class="ag-courses-item_date-box">
                                    Professor:
                                    <span class="ag-courses-item_date">
                                        Isandro<!-- Provisório, fazer de forma não estática -->
                                    </span>
                                </div>
                            </a>
                        </div>
                        <!-- Fim do card -->


                    </div>
                </div>
                <div class="col-12 col-md-3 " style="padding: 20px;">
                    <h2>Tarefas e Recados</h2>
                    <hr />
                    <img src="../../../assets/images/Sem título.png" style="width: 200px;">
                    <p style="color:white">PARABENS VOCE NÃO TEM NENHUMA TAREFA</p>
                    <a href="https://www.flaticon.com/br/icones-gratis/biblioteca" title="biblioteca ícones">olhar icones</a>
                </div>
            </div>
        </div>
    </div>
</div>
