<div class="container-fluid d-flex flex-column justify-content-center align-items-center" 
     style="min-height: 100vh; background: #440180;
     background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
     background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
     background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
     background: linear-gradient(-135deg, #c42ebc, #1b3bd8);">
    
    <hr/>

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="login p-4 text-center " style="background-color: rgb(255, 255, 255); border-radius: 5%;">
            <h4>Registre-se</h4>
            <hr/>
            <div class="d-flex flex-column align-items-center">
                <div class="wrap-input100">
                    <input 
                        id="email-register" 
                        type="email" 
                        class="input100" 
                        placeholder="E-mail"
                        [(ngModel)]="form.email"
                        maxlength="500"
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                
                <div class="wrap-input100">
                    <input 
                        id="senha-register" 
                        type="password" 
                        class="input100" 
                        placeholder="Senha"
                        [(ngModel)]="form.senha"
                        maxlength="128"
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100">
                    <input 
                        id="nome-register" 
                        type="text" 
                        class="input100" 
                        placeholder="Nome"
                        [(ngModel)]="form.nome"
                        required
                        minlength="2"
                        maxlength="499"
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100">
                    <input 
                        id="nascimento-register" 
                        type="date" 
                        class="input100" 
                        placeholder="Nome"
                        [(ngModel)]="form.dataNascimento"
                        required
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>


                <div class="container-login100-form-btn">
                    <button id="requestRegistrar"class="login100-form-btn">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
