<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; background: #440180;
     background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
     background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
     background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
     background: linear-gradient(-135deg, #c42ebc, #1b3bd8);">

    <div class="row w-100">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h3 class="mt-3 text-center" style="margin-bottom:40px;">Sistema de Educação Monan</h3>
            <img src="../../../assets/images/logo-monan.jpg" style="border-radius:36%; width:150px;"
                alt="essa imagem mostra a logo da aplicação Monan">
        </div>
    </div>

    <hr />

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="login p-4 text-center" style="background-color: rgb(255, 255, 255); 
                    border-radius: 5%; 
                    padding: 40px; /* Aumenta o padding para expandir verticalmente */
                    min-height: 400px; /* Ajusta a altura mínima para a caixa de login */
                    width: 100%; /* Ajusta a largura para ocupar 100% do espaço disponível */
                    max-width: 500px; /* Limita a largura máxima da caixa de login */
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;">
            <h4>Registre-se</h4>
            <hr />
            <div class="d-flex flex-column align-items-center w-100">
                <div class="wrap-input100 mb-3">
                    <input 
                        id="email-register" 
                        type="email" 
                        class="input100" 
                        placeholder="E-mail"
                        [(ngModel)]="email"
                        required
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 mb-3">
                    <input 
                        id="password" 
                        type="password" 
                        class="input100" 
                        placeholder="Senha"
                        [(ngModel)]="senha"
                        required
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 mb-3">
                    <input 
                        id="nome-register" 
                        type="text" 
                        class="input100" 
                        placeholder="Nome"
                        [(ngModel)]="nome"
                        required
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 mb-3">
                    <input 
                        id="dataNascimento-register" 
                        type="date" 
                        class="input100" 
                        placeholder="Nascimento"
                        [(ngModel)]="dataNascimento"
                        required
                    >
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button id="requestRegister" class="login100-form-btn" (click)="registrar()">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>