<div class="container-fluid">
    <div class="row g-0">
        <!-- Coluna lateral fixa -->
        <div class="col-12 col-md-1 sidebar">
            <ul>
                <li>
                    <img src="../../../assets/images/logo-monan.jpg" style="width: 100px;" alt="essa imagem mostra a logo da aplicação Monan">
                </li>
                <li><a href="" (click)="goToTelaPrincipal()">Tela inicial</a></li>
                <li><a href="">Todas as disciplinas</a></li>
                <li><a href="">Calendário</a></li>
                <li><a href="">Configurações</a></li>
                <li><a href="">Ajuda</a></li>
                <li><button class="btn btn-light" id="btnLogout" (click)="logout()">Logout</button></li>
            </ul>
        </div>

        <!-- Conteúdo principal -->
        <div class="col-12 col-md-11 content">
            <!-- Coluna principal -->
            <div class="main-content">
                <h2 style="color:white">Aulas por disciplina</h2>
                <hr />

                <div class="task-card" *ngFor="let planoAula of listaPlanosAula">
                    <div class="task-header">
                        <h3 class="task-title">{{ planoAula.titulo }}</h3>
                        <p class="task-summary">Data de Criação: {{ planoAula.dataCriacao }}</p>
                    </div>
                    <div class="task-details expanded">
                        <p><strong>Descrição:</strong> {{ planoAula.descricao }} </p>
                        <p><strong>Disciplina:</strong> {{ planoAula.disciplina.nome }} </p>
                    </div>
                </div>

                
            </div>

            <!-- Coluna "Recados" -->
            <div class="right-column">
                <h2>Recados</h2>
                <hr />
                <p>Nenhum recado pendente</p>
                <a href="https://www.flaticon.com/br/icones-gratis/biblioteca" title="biblioteca ícones">olhar ícones</a>
            </div>
        </div>
    </div>
</div>

